.skill-list-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin-bottom: 30px;
  margin-right: 50px;
}

.skill-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding: 10px;
}

.skill-image {
  width: 60px;
  height: 40px;
  margin-right: 10px;
}

.skill-name {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .skill-list-items {
    margin-right: 20px;
  }
  .skill-image {
    height: 60px;
  }
  .skill-name {
    font-size: 22px;
  }
}
